body {
    text-align: center;
    background: #fcffee;
    font-family: Arial, Helvetica, sans-serif;
}

dt {
    margin: 10px;
}

input[type="submit"], table td a{
    font-size: 16px;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    background-color: #434443;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 80%;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f9;
}

table th {
    background-color: #d3d3d3;
}

table td, th {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

table tr th a {
    color: #007bff;
}
.lisa {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="text"], select {
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    box-sizing: border-box;
}
select {
    font-size: 16px;
}



