/* põhilised stiilid */
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #f4f7fb;
    color: #333;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    margin-top: 20px;
    font-size: 28px;
    color: #333;
}

h3 {
    margin-bottom: 20px;
    color: #666;
}

/* otsingu jaotiste stiilid */
#search-form {
    margin-bottom: 20px;
}

#search-form input[type="text"] {
    padding: 10px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#search-form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* stiilid õpilaste nimede koos linkidega kuvamiseks */

.opilased {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.found {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.koik {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.opilane {
    width: 150px;
    height: 75px;
    background-color: #e0e0e0;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease; /* lisa sujuvaid üleminekuid */
}

.opilane a {
    text-decoration: none;
    color: #000;
}

/* hõljumise käitumine */
.opilane:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.opilane.male:hover {
    background-color: #62aed7;
}

.opilane.female:hover {
    background-color: #d795c5;
}

/* õpilaste lisamine jaotis */
#lisa-opilane-form {
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #e0e0e0;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    width: 50%;
    text-align: right;
    margin-right: 10px;
}

.form-row input {
    width: 55%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row-button input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* failid / kood */
.failid {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#code {
    text-align: left;
    margin: 20px auto;
    max-width: 80%;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 15px;
    overflow-x: auto;
}

/* sõnumeid */
.error {
    color: red;
    font-weight: bold;
}
.ok {
    color: green;
    font-weight: bold;
}
